<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homebrewnavigator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="MyContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name=".MainActivity"
            android:label="HomeBrew Navigator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeManagerActivity"
            android:label="Recipe Manager" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThermometerActivity"
            android:label="Thermometer" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrewDayActivity"
            android:label="Brew Day" android:launchMode="singleTop">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".TemperatureService"
            android:enabled="true"
            android:exported="false"
            android:label="HomebrewNavigator Temperature Monitoring Service" />

        <activity
            android:name=".JournalActivity"
            android:label="Journal" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JournalEditDetailsActivity"
            android:label="Journal" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecipeActivity"
            android:label="Recipe" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <service android:enabled="true" android:name=".TemperatureService" android:label="HomebrewNavigator Temperature Monitoring Service" android:exported="false" />
        
    </application>

</manifest>
